.box_description2{
    max-width: 1920px;
    height: auto;
    gap: 80px;
    padding-right: 162px;
    padding-left: 162px;
    border-top: 1px solid #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_description-left{
    width: 519px;
    height: 569px;
    gap: 60px;
}
.box_description-left > div:nth-child(1){

    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.box_description-left1{
    background-image: url("description2/Icon(2).svg");
}
.box_description-left2{
    background-image: url("description2/Icon(1).svg");
}
.box_description-left  > div:nth-child(1) + span{
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: block;
}
.box_description-left  > div:nth-child(1) + span + span{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    display: block;
    margin-bottom: 50px;
}
.box_description-left  > a{
    gap: 10px;
    padding: 18px 24px;
    border-radius: 8px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    margin-bottom: 60px;
}
.box_description-left  > div:last-child{
    display: flex;
    gap: 50px;
    border-radius: 13px;
    padding: 30px;
    background: #1A1A1A;
    border: 1px solid #262626;
    justify-content: space-between;
}
.box_description-left  > div:last-child > div:nth-child(1) span:nth-child(1){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    display: block;
    margin-bottom: 4px;
}
.box_description-left  > div:last-child > div:nth-child(1) span:nth-child(2){
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.box_description-left  > div:last-child > div:nth-child(2){
    display: flex;
    background-color: #141414;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
}
.box_description2--avatar0{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(0).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
}
.box_description2--avatar1{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(1).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar2{
     width: 50px;
     height: 50px;
     background-image: url("description2/Image(2).svg");
     border-radius: 42px;
     background-position: center;
     border: 2px solid #666666;
    margin-left: -12px;

 }
.box_description2--avatar3{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(3).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar4{
      width: 50px;
      height: 50px;
      background-image: url("description2/Image(4).svg");
      border-radius: 42px;
      background-position: center;
      border: 2px solid #666666;
}
.box_description2--avatar5{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(5).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar6{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(6).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar7{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(7).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
/*===================================*/
.box_description-right{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    border-left: 1px solid #262626;
}
.box_description-right--title{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.box_description-right--title > span:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    display: inline-block;
    width: 242px;
    height: 36px;
    white-space: nowrap;
}
.box_description-right--title > span:nth-child(2){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    display: inline-block;
    max-width: 654px;
}
.box_description2-image1{
    max-width: 917px;
    height: 332px;
    border-radius: 12px;
    background-image: url("description2/Image_big(1).svg");
    margin-bottom: 30px;
}
.box_description2-image2{
    max-width: 917px;
    height: 332px;
    border-radius: 12px;
    background-image: url("description2/Image_big(2).svg");
    margin-bottom: 30px;
}
.box_description-right--title2{
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}
.box_description-right--title2 > div:nth-child(1){
    width: auto;
    height: auto;
    gap: 4px;
    border-radius: 13px;
    padding: 30px;
    background: #1A1A1A;
    border: 1px solid #262626;
    display: inline-block;
}
.box_description-right--title2 > div:nth-child(1) span:nth-child(1){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #98989A;
    display: block;
    margin-bottom: 4px;
}
.box_description-right--title2 > div:nth-child(1) span:nth-child(2){
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    white-space: nowrap;
}
.box_description-right--title2 > div:nth-child(2){
    flex: 1;
    border-radius: 13px;
    padding: 30px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    display: flex;
    justify-content: space-between;
}
.box_description-right--title2 > div:nth-child(2) > div > span:nth-child(1){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #98989A;
    display: block;
    margin-bottom: 4px;
}
.box_description-right--title2 > div:nth-child(2) > div > span:nth-child(2){
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
.box_description-right--title2 > div:nth-child(2)  > a{
    gap: 10px;
    padding: 18px 24px;
    border-radius: 10px;
    background-color: #141414;
    border: 1px solid #262626;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    align-items: center;
}
.box_description-right--icon{
    background-image: url("description2/Icon(3).svg");
    width: 24px;
    height: 24px;
    display: block;
}
.box_description-right > div:last-child{
    max-width: 917px;
    border-radius: 13px;
    padding: 30px;
    background: #1A1A1A;
    border: 1px solid #262626;
}
.box_description-right div:last-child > span:nth-child(1){
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #98989A;
    margin-bottom: 4px;
}
.box_description-right div:last-child > span:nth-child(2){
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}