.box-headding {
    width: 100%;
    padding: 120px 162px;
    background: #1A1A1A;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
}
.box-headding__content{
    max-width: 1111px;
    gap: 16px;
}
.box-headding div > span {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 16px;
    background: #333333;
    border-radius: 4px;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.box-headding div > h2 {
    font-weight: 500;
    font-size: clamp(32px, 4.5vw, 58px);
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.box-headding > a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 18px 24px;
    border-radius: 12px;
    background-color: #141414;
    border: 1px solid #262626;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #98989A;
    text-decoration: none;
    white-space: nowrap;
}
