.box_description2{
    gap: 80px;
    padding-right: 162px;
    padding-left: 162px;
    border-top: 1px solid #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_description-left{
    width: 35%;
}
.box_description-left > div:nth-child(1){

    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.box_description-left1{
    background-image: url("description2/Icon(2).svg");
}
.box_description-left2{
    background-image: url("description2/Icon(1).svg");
}
.box_description-left  > div:nth-child(1) + span{
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: block;
}
.box_description-left  > div:nth-child(1) + span + span{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    display: block;
    margin-bottom: 50px;
}
.box_description-left  > a{
    gap: 10px;
    padding: 18px 24px;
    border-radius: 8px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    margin-bottom: 60px;
}
.box_description-left  > div:last-child{
    display: flex;
    gap: 50px;
    border-radius: 13px;
    padding: 30px;
    background: #1A1A1A;
    border: 1px solid #262626;
    justify-content: space-between;
    width: fit-content;
}
.box_description-left  > div:last-child > div:nth-child(1) span:nth-child(1){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    display: block;
    margin-bottom: 4px;
}
.box_description-left  > div:last-child > div:nth-child(1) span:nth-child(2){
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.box_description-left  > div:last-child > div:nth-child(2){
    display: inline-flex;
    background-color: #141414;
    align-items: center;
    padding: 6px;
    border-radius: 12px;
    width: fit-content;
    flex-shrink: 0;
}
.box_description2--avatar0{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(0).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
}
.box_description2--avatar1{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(1).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar2{
     width: 50px;
     height: 50px;
     background-image: url("description2/Image(2).svg");
     border-radius: 42px;
     background-position: center;
     border: 2px solid #666666;
     margin-left: -12px;

 }
.box_description2--avatar3{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(3).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar4{
      width: 50px;
      height: 50px;
      background-image: url("description2/Image(4).svg");
      border-radius: 42px;
      background-position: center;
      border: 2px solid #666666;
}
.box_description2--avatar5{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(5).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar6{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(6).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
.box_description2--avatar7{
    width: 50px;
    height: 50px;
    background-image: url("description2/Image(7).svg");
    border-radius: 42px;
    background-position: center;
    border: 2px solid #666666;
    margin-left: -12px;
}
/*===================================*/
.box_description-right{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    border-left: 1px solid #262626;
    width: 65%;
}
.box_description-right--title{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.box_description-right--title > span:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    display: inline-block;
    white-space: nowrap;
}
.box_description-right--title > span:nth-child(2){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    display: inline-block;
}
.box_description2-image1{
    width: 100%;
    aspect-ratio: 917 / 332;
    border-radius: 12px;
    background-image: url("description2/Image_big(1).svg");
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.box_description2-image2{
    width: 100%;
    aspect-ratio: 917 / 332;
    border-radius: 12px;
    background-image: url("description2/Image_big(2).svg");
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    ackground-size: cover;
}
.box_description-right--title2{
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}
.box_description-right--title2 > div:nth-child(1){
    border-radius: 13px;
    padding: 30px;
    background: #1A1A1A;
    border: 1px solid #262626;
    display: inline-block;
}
.box_description-right--title2 > div:nth-child(1) span:nth-child(1){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #98989A;
    display: block;
    margin-bottom: 4px;
}
.box_description-right--title2 > div:nth-child(1) span:nth-child(2){
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    white-space: nowrap;
}
.box_description-right--title2 > div:nth-child(2){
    flex: 1;
    border-radius: 13px;
    padding: 30px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    display: flex;
    justify-content: space-between;
}
.box_description-right--title2 > div:nth-child(2) > div > span:nth-child(1){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #98989A;
    display: block;
    margin-bottom: 4px;
}
.box_description-right--title2 > div:nth-child(2) > div > span:nth-child(2){
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
.box_description-right--title2 > div:nth-child(2)  > a{
    gap: 10px;
    padding: 18px 24px;
    border-radius: 10px;
    background-color: #141414;
    border: 1px solid #262626;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    align-items: center;
}
.box_description-right--icon{
    background-image: url("description2/Icon(3).svg");
    width: 24px;
    height: 24px;
    display: block;
}
.box_description-right > div:last-child{
    border-radius: 13px;
    padding: 30px;
    background: #1A1A1A;
    border: 1px solid #262626;
}
.box_description-right div:last-child > span:nth-child(1){
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #98989A;
    margin-bottom: 4px;
}
.box_description-right div:last-child > span:nth-child(2){
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
@media screen and (max-width: 1440px){
    .box_description2 {
        height: auto;
        gap: 60px;
        padding-right: 80px;
        padding-left: 80px;
    }
    .box_description-left > div:nth-child(1) {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
        background-size: cover;
    }
    .box_description-left > div:nth-child(1) + span {
        font-size: 30px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    .box_description-left > div:nth-child(1) + span + span {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .box_description-left > a {
        gap: 4px;
        padding: 18px 20px;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 40px;
    }
    .box_description-left > div:last-child {
        display: flex;
        gap: 30px;
        border-radius: 8px;
        padding: 20px;
    }
    .box_description-left > div:last-child > div:nth-child(1) span:nth-child(1) {
        font-size: 14px;
        margin-bottom: 2px;
    }
    .box_description-left > div:last-child > div:nth-child(1) span:nth-child(2) {
        font-size: 20px;
    }
    .box_description2--avatar0,
    .box_description2--avatar1,
    .box_description2--avatar2,
    .box_description2--avatar3,
    .box_description2--avatar4,
    .box_description2--avatar5,
    .box_description2--avatar6,
    .box_description2--avatar7 {
        width: 40px;
        height: 40px;
        border-radius: 42px;
        background-position: center;
    }
    .box_description-right {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
    }
    .box_description-right--title > span:nth-child(1) {
        font-size: 20px;
    }
    .box_description-right--title > span:nth-child(2) {
        font-size: 16px;
    }
    .box_description-right--title {
        margin-bottom: 24px;
    }
    .box_description2-image1,
    .box_description2-image2
    {

        border-radius: 10px;
        background-size: contain;
        margin-bottom: 24px;
        background-repeat: no-repeat;
    }
    .box_description-right--title2 > div:nth-child(1) {
        border-radius: 8px;
        padding: 24px;
    }
    .box_description-right--title2 > div:nth-child(2) {
        border-radius: 8px;
        padding: 24px;
    }
    .box_description-right--title2 {
        gap: 16px;
        margin-bottom: 24px;
    }
    .box_description-right > div:last-child {
        border-radius: 8px;
        padding: 24px;
    }
    .box_description-right--title2 > div:nth-child(1) span:nth-child(1) {
        font-size: 16px;
    }
    .box_description-right--title2 > div:nth-child(1) span:nth-child(2) {
        font-size: 18px;
    }
    .box_description-right--title2 > div:nth-child(2) > div > span:nth-child(1) {
        font-size: 16px;
        margin-bottom: 2px;
    }
    .box_description-right--title2 > div:nth-child(2) > div > span:nth-child(2) {
        font-size: 18px;
    }
    .box_description-right--title2 > div:nth-child(2) > a {
        gap: 4px;
        padding: 14px 20px;
        border-radius: 10px;
        font-size: 14px;
    }
    .box_description-right--icon {
        width: 20px;
        height: 20px;
        background-size: cover;

    }
    .box_description-right div:last-child > span:nth-child(1) {
        font-size: 16px;
        margin-bottom: 2px;
    }
    .box_description-right div:last-child > span:nth-child(2) {
        font-size: 18px;
    }
}
@media screen and (max-width: 1180px){
    .box_description-right--title2 {
        gap: 16px;
        margin-bottom: 24px;
        flex-wrap: wrap;
    }
    .box_description-right--title2 > div {
        flex-grow: 1;
        flex-shrink:1;
        flex-basis: 100%;
    }
    .box_description-left > div:last-child > div:nth-child(1) span:nth-child(1) {
        font-size: 14px;
        margin-bottom: 2px;
    }
    .box_description-left > div:last-child > div:nth-child(1) span:nth-child(2) {
        font-size: 18px;
    }
}
@media screen and (max-width: 767px) {

    .box_description2 {
        flex-direction: column;
        gap: 40px;
        padding: 40px 16px;
    }

    /* LEFT */
    .box_description-left {
        width: 100%;
        padding-bottom: 40px;
        border-bottom: 1px solid #262626;
    }

    .box_description-left > div:nth-child(1) {
        width: 50px;
        height: 50px;
        margin-bottom: 24px;
    }

    .box_description-left > div:nth-child(1) + span {
        font-size: 24px;
        margin-bottom: 2px;
    }

    .box_description-left > div:nth-child(1) + span + span {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .box_description-left > a {
        width: 100%;
        font-size: 14px;
        padding: 18px 20px;
        margin-bottom: 20px;
    }

    .box_description-left > div:last-child {
        width: 95%;
        padding: 20px 30px;
        gap: 30px;
        justify-content: space-between;
    }

    /* avatars */
    .box_description-left > div:last-child > div:nth-child(2) {
        padding: 4px;
    }

    .box_description2--avatar4,
    .box_description2--avatar5,
    .box_description2--avatar6,
    .box_description2--avatar7 {
        width: 36px;
        height: 36px;
    }

    /* RIGHT */
    .box_description-right {
        width: 100%;
        padding: 0;
        border-left: none;
    }

    .box_description-right--title {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 20px;
    }

    .box_description-right--title > span:nth-child(1) {
        font-size: 18px;
    }

    .box_description-right--title > span:nth-child(2) {
        font-size: 14px;
    }

    .box_description2-image2 {
        border-radius: 8px;
        margin-bottom: 20px;
        background-size: cover;
    }

    .box_description-right--title2 {
        flex-direction: column;
        gap: 16px;
    }

    .box_description-right--title2 > div {
        width: 100%;
        padding: 20px;
    }

    .box_description-right--title2 > div:nth-child(2) {
        gap: 12px;
        padding: 20px;
    }
    .box_description-right--title2 > div:nth-child(2) > div > span:nth-child(1) {
        font-size: 14px;
        margin-bottom: 2px;
    }
    .box_description-right--title2 > div:nth-child(2) > div > span:nth-child(2) {
        font-size: 16px;
    }
    .box_description-right--title2 > div:nth-child(2) > a {
        justify-content: center;
        font-size: 14px;
        padding: 14px 20px;
    }

    .box_description-right > div:last-child {
        padding: 20px;
    }

    .box_description-right div:last-child > span:nth-child(1) {
        font-size: 14px;
    }

    .box_description-right div:last-child > span:nth-child(2) {
        font-size: 16px;
    }
    .box_description-right--title2 > div:nth-child(1) {
        border-radius: 8px;
        padding: 20px;
    }
    .box_description-right--title2 > div:nth-child(1) span:nth-child(1) {
        font-size: 14px;
    }
    .box_description-right--title2 > div:nth-child(1) span:nth-child(2) {
        font-size: 16px;
    }
}

