.box-headding {
    width: 100%;
    padding: 120px 162px;
    background: #1A1A1A;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-headding__content{
    max-width: 1111px;
    gap: 16px;
}
.box-headding div > span {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 16px;
    background: #333333;
    border-radius: 4px;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.box-headding div > h2 {
    font-weight: 500;
    font-size: clamp(32px, 4.5vw, 58px);
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.box-headding > a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 18px 24px;
    border-radius: 12px;
    background-color: #141414;
    border: 1px solid #262626;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #98989A;
    text-decoration: none;
    white-space: nowrap;
}
@media screen and (max-width: 1440px){
    .box-headding {
        padding: 80px;
    }
    .box-headding div > span {
        padding: 4px 8px;
        margin-bottom: 10px;
        border-radius: 4px;
        font-size: 16px;
    }
    .box-headding div > h2 {
         font-size: 44px;
    }
    .box-headding > a {
        gap: 4px;
        padding: 14px 20px;
        border-radius: 8px;
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) {

    .box-headding {
        padding: 40px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .box-headding__content {
        max-width: 100%;
    }

    .box-headding div > span {
        font-size: 14px;
        padding: 4px 8px;
        margin-bottom: 10px;
    }

    .box-headding div > h2 {
        font-size: 28px;
    }

    .box-headding > a {
        width: 100%;
        justify-content: center;
        font-size: 14px;
        padding: 14px 20px;
        border-radius: 8px;
    }
}
