.conclusion {
    min-height: 803px;
    padding: 120px 162px;
    background-color: #1A1A1A;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #262626;
}

/* =======================
   TOP
======================= */
.conclusion-top {
    display: flex;
    gap: 80px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

/* ICON */
.conclusion-top-icon {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-image: url("conclusion/Logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.conclusion-top-content {
    max-width: 1366px;
}

.conclusion-top-badge {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #333333;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.conclusion-top-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 130%;
    color : #FFFFFF;
    margin-bottom: 30px;
}

.conclusion-top-desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #7E7E81;

}

/* =======================
   BOTTOM
======================= */
.conclusion-bottom {
    height: 246px;
    gap: 20px;
    border-radius: 12px;
    padding: 20px;
    background-color: #141414;
    border: 1px solid #262626;
    display: flex;
}

/* CARD */
.conclusion-card {
    flex: 1;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* CARD CONTENT */
.conclusion-card-content h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conclusion-card-content p {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
}

/* CARD ACTION */
.conclusion-card-content h3 > span{
    width: 52px;
    height: 52px;
    gap: 10px;
    border-radius: 100px;
    padding: 14px;
    background-color: #FFD11A;
    border: none;
    background-image: url("container/arrow_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}