.container2 {
    padding: 120px 162px;
    background-color: #1A1A1A;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #262626;
}
.container2 span{
    gap: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #333333;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.container2 h2{
    margin-top: 16px;
    font-weight: 500;
    font-size: 58px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
/*====================================================================================*/
.container2_1{
    padding-right: 162px;
    padding-left: 162px;
    display: flex;
}
.container2_1-right{
    /*max-width: 519px;*/
    /*height: 260px;*/
    margin: 155px 80px 155px 0;
}
.container2_1-right-item{
    max-width: 519px;
    /*height: 260px;*/
}
.container2_1-right-item > div:nth-child(1){
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.container2_1-right-item > div:nth-child(2) h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.container2_1-right-item > div:nth-child(2) span{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
}

.container2_1-left{
    max-width: 997px;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    border-left: 1px solid #262626;
}
.container2_1-left-item{
    display: flex;
    justify-content: space-between;
    max-width: 917px;
    gap: 30px;
}
.container2_1-left >.container2_1-left-item:nth-child(1){
    margin-bottom: 30px;
}
.container2_1-left-item div{
    border-radius: 12px;
    padding: 40px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    flex: 1;
}

.container2_1-left-item div > span:nth-child(1){
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
}
.container2_1-left-item div > span:nth-child(2){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
}
.container2_1--bottom{
    border-top: 1px solid #262626;
}
.container2_1-right-item--top > div:nth-child(1){
    background-image: url("container2/Icon(1).svg");
}

.container2_1-right-item--bottom > div:nth-child(1){
    background-image: url("container2/Icon(2).svg");
}

@media screen and (max-width: 1440px){
    .container2 span {
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 16px;
    }
    .container2 h2 {
        margin-top: 10px;
        font-weight: 500;
        font-size: 44px;
    }
    .container2 {
        padding: 80px;
        background-color: #1A1A1A;
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: #262626;
    }
    .container2_1 {
        padding-right: 80px;
        padding-left: 80px;
        align-items: flex-start;
    }
    .container2_1-right-item > div:nth-child(2) h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .container2_1-right-item > div:nth-child(2) span {
        font-size: 16px;
    }
    .container2_1-left-item div {
        border-radius: 10px;
        padding: 30px;
        flex: 1;
    }
    .container2_1-left-item div > span:nth-child(1) {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .container2_1-left-item div > span:nth-child(2) {
        font-size: 16px;
    }
    .container2_1-right-item > div:nth-child(1){
        width: 60px;
        height: 60px;
        margin-bottom: 40px;
    }
    .container2_1-left {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
    }
    .container2_1-left-item{
        gap: 20px;
    }
    .container2_1-left >.container2_1-left-item:nth-child(1){
        margin-bottom: 20px;
    }
    .container2_1-right{
        margin: 122px 60px 122px 0;
    }

}
@media screen and (max-width: 767px) {
    .container2 {
        padding: 40px 16px;
    }
    .container2 span {
        font-size: 14px;
        padding: 4px 8px;
    }
    .container2 h2 {
        font-size: 28px;
        margin-top: 10px;
    }
    /* MAIN LAYOUT */
    .container2_1 {
        flex-direction: column;
        padding: 0 16px;
    }

    /* RIGHT */
    .container2_1-right {
        margin: 0 0 32px 0;
    }

    .container2_1-right-item > div:nth-child(1) {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .container2_1-right-item > div:nth-child(2) h3 {
        font-size: 24px;
        margin-bottom: 6px;
    }
    .container2_1-right-item > div:nth-child(2) span {
        font-size: 14px;
    }

    /* LEFT */
    .container2_1-left {
        max-width: 100%;
        padding: 0;
        border-left: none;
        gap: 16px;
    }
    .container2_1,
    .container2_1-left,
    .container2_1-right,
    .container2_1-right-item,
    .container2_1-left-item {
        width: 100%;
        max-width: 100%;
    }

    .container2_1-left-item {
        flex-direction: column;
        gap: 16px;
        max-width: 100%;
    }

    .container2_1-left > .container2_1-left-item:nth-child(1) {
        margin-bottom: 16px;
    }

    .container2_1-left-item div {
        padding: 24px;
        border-radius: 10px;
    }

    .container2_1-left-item div > span:nth-child(1) {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .container2_1-left-item div > span:nth-child(2) {
        font-size: 14px;
    }
    .container2_1-right-item {
        width: 100%;
        max-width: 100%;
        position: relative;
        padding-bottom: 50px;
        border-bottom: 1px solid #262626;
    }
    .container2_1-left > .container2_1-left-item:last-child > div:last-child{
        margin-bottom: 30px;
    }
}
