.container2 {
    height: 373px;
    padding: 120px 162px;
    background-color: #1A1A1A;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #262626;
}
.container2 span{
    gap: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #333333;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.container2 h2{
    margin-top: 16px;
    font-weight: 500;
    font-size: 58px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
/*====================================================================================*/
.container2_1{
    height: 570px;
    padding-right: 162px;
    padding-left: 162px;
    display: flex;
}
.container2_1-right{
    max-width: 519px;
    height: 260px;
    margin: 155px 80px 155px 0;
}
.container2_1-right-item{
    width: 519px;
    height: 260px;
}
.container2_1-right-item > div:nth-child(1){
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
}
.container2_1-right-item > div:nth-child(2) h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.container2_1-right-item > div:nth-child(2) span{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
}

.container2_1-left{
    width: 997px;
    height: 570px;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    border-left: 1px solid #262626;
}
.container2_1-left-item{
    display: flex;
    justify-content: space-between;
    max-width: 917px;
    height: 190px;
    margin-bottom: 30px;
    gap: 30px;
}
.container2_1-left-item div{
    width: 443px;
    height: 190px;
    border-radius: 12px;
    padding: 40px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
}
.container2_1-left-item div > span:nth-child(1){
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
}
.container2_1-left-item div > span:nth-child(2){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
}
.container2_1--bottom{
    border-top: 1px solid #262626;
}
.container2_1-right-item--top{
    background-image: url("container2/Icon(1).svg");
    background-repeat: no-repeat;
}
.container2_1-right-item--bottom{
    background-image: url("container2/Icon(2).svg");
    background-repeat: no-repeat;
}