
.footer {
    height: 567px;
    padding-right: 162px;
    padding-left: 162px;
}

.footer-container {
    display: flex;
    gap: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #262626;
    justify-content: space-between;
}

.footer-column h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.footer-column ul {
    list-style: none;
}

.footer-column li {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #666666;
    cursor: pointer;
    margin-bottom: 16px;
    white-space: nowrap;
}

.footer-column li:hover {
    color: #fff;
}

.badge {
    padding: 4px 12px;
    border-radius: 6px;
    background: #1A1A1A;
    border-image-source: linear-gradient(70.33deg, #262626 61.2%, #FFD119 216.15%);
    margin-left: 6px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;

}
.resource-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resource-links > li {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #141414;
    border: 1px solid #262626;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    gap: 10px;
    display: flex;
    text-align: center;
    align-items: center;

}
.arrow-yellow_footer{
    background-image: url("footer/arrow.svg") ;
    width: 20px;
    height: 20px;
    display: inline-block;
}



.footer-bottom {
    height: 103px;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.footer-bottom .links a , .copyright{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #666666;
    text-decoration: none;
    margin-left: 11px;
}

.footer-bottom .links a:hover {
    color: #fff;
}

.social{
    align-items: center;
    text-align: center;
}
.fab{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-position: center;
}
.fa-twitter{
    background-image: url("footer/twitter.svg");
}
.fa-medium{
    background-image: url("footer/medium.svg");
}
.fa-linkedin{
    background-image: url("footer/linkedin.svg");
}
.social i:hover {
    color: #fff;
}

