header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
#menu-toggle {
    display: none;
}
.menu-toggle--mobile{
    display: none;
}
.open-start {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.box-modal-statr {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.menu-toggle {
    display: none;
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background: #1A1A1A;
    padding: 20px;
    border-radius: 40px 0 0 40px;
    z-index: 20;
}
.menu-toggle > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;
}
.menu-toggle > div:first-child > label{
    color: white;
    font-size: 25px;
}
.menu-toggle > ul{
    display: flex;
    flex-direction: column;
}
.menu-toggle > ul > li{
    list-style: none;
    text-align: center;
    padding: 15px 20px;
    border: 1px #262626 solid;
    background-color: #1A1A1A;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
}
.menu-toggle  ul  li:hover{
    background-color: #141414;
    cursor: pointer;
}
.menu-toggle > ul > li a {
    text-decoration: none;
    color: white;
}
#menu-toggle:checked ~ .box-modal-statr {
    display: block;
}

#menu-toggle:checked ~ .menu-toggle {
    display: block;
}

.arrow-yellow{
    background-image: url("header/arrow.svg");
    width: 24px;
    height: 24px;
}
.header_top {
     display: flex;
     justify-content: center;
     gap: 10px;
     padding: 20px 24px;
     border-bottom: 1px solid #262626;
     background-color: #141414;

}
.header_top > span{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
}
.header_top > span:nth-child(2) {
    display: none;
}
/*============================================*/
.header_bottom{
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;
    padding: 24px 162px;
    background-color: #1A1A1A;
    align-items: center;
}
.header_bottom_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.header_bottom_logo > h4{
    color: #FFFFFF;
}
.header_bottom div:nth-child(2) ul{
    display: flex;
    list-style: none;
}
.header_bottom div:nth-child(2) a{
    text-decoration: none;
    gap: 10px;
    padding: 14px 24px;
    border-radius: 10px;
    border-width: 1px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.header_bottom div:nth-child(2) a:hover {
    background-color:#141414;
    color: #FFFFFF;
    border: 1px solid #333333;
}
.header_bottom_logo > div{
    background-image: url("header/logo.svg");
    width: 50px;
    height: 50px;
}
.header_bottom button a{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #141414;
    text-decoration: none;
}
.header_bottom button{
    padding: 14px 20px;
    border-radius: 10px;
    background-color: #FFD11A;
    border: none;
}
@media screen and (max-width: 1440px) {
    .header_top {
        padding: 12px 24px;
    }
    .header_top > span{
        font-size: 14px;
    }
    .arrow-yellow {
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    .header_bottom div:nth-child(2) a {
        padding: 10px 18px;
        border-radius: 6px;
        font-size: 14px;
    }
    .header_bottom button {
        padding: 10px 14px;
        border-radius: 6px;
    }
    .header_bottom button a {
        font-size: 14px;
    }
    .header_bottom {
        display: flex;
        justify-content: space-between;
        border-bottom-width: 1px;
        padding: 20px 80px;
        background-color: #1A1A1A;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .header_top {
        width: 100%;
        gap: 10px;
        padding: 40px 24px 14px 24px;
    }
    .header_top > span {
        font-size: 12px;
    }
    .arrow-yellow {
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    .header_top > span:nth-child(1) {
        display: none;
    }
    .header_top > span:nth-child(2) {
        display: inline-block;
    }
    .header_bottom {
        width: 100%;
        padding: 20px 16px;
    }
    .header_bottom div:nth-child(2) {
        display: none;
    }
    .header_bottom_logo > div {
        width: 35px;
        height: 35px;
        background-size: cover ;
    }
    .header_bottom_logo > h4 {
        font-size: 13px;
    }
    .header_bottom button {
       display: none;
    }
    .menu-toggle--mobile{
        display: inline-block;
    }
    .open-start {
        display: inline-block;
        cursor: pointer;
        font-size: 24px;
    }
}
@media screen and (max-width: 450px) {
    .menu-toggle {
        width: 70%;
    }
}