.container-top{
    display: flex;
    padding-right: 162px;
    width: min(100%, 1920px);
}

/* ================= LEFT ================= */
.container-top-left{
    max-width: 1105px;
    padding-top: 150px;
}

.container-top-left-title{
    padding-right: 50px;
    padding-left: 162px;
    padding-bottom: 100px;
}

.container-top-left-title span{
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -3%;
    color: #666666;
    margin-bottom: 30px;
    display: block;
}

.container-top-left-title h1{
    font-weight: 500;
    font-size: 70px;
    line-height: 120%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.container-top-left-title p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #7E7E81;
}

/* ================= RIGHT ================= */
.container-top-right{
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 80px;
    border-left: 1px solid #262626;
    position: relative;
}

.container-top-right::before {
    content: "";
    background-image: url("container/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 66%;
    position: absolute;
    top: 0;
    left: 0;
}

/* icon / avatar row */
.container-top-right > div:nth-child(2){
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 245px;
}

/* text block */
.container-top-right > div:nth-child(3) div{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.container-top-right > div:nth-child(3) span{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    margin-bottom: 30px;
    display: block;
}

/* button */
.container-top-right button{
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
    border-radius: 12px;
    background: #141414;
    border: 1px solid #262626;
}

.container-top-right button a{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    text-decoration: none;
    color: #98989A;
    display: flex;
    gap: 10px;
}
.container-top-right-icon{
    border-radius: 100px;
    padding: 10px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    width: fit-content;
    margin-bottom: 30px;
}
/* ================= STATS ================= */
.container-top-left-item {
    display: flex;
    border-top: 1px solid #262626;
}
.container-top-left-item > .container-item:nth-child(1){
    margin-left: 102px;
}
.container-item {
    flex: 1;
    padding: 50px 60px;
    border-right: 1px solid #262626;
}

.container-item:last-child {
    border-right: none;
}

.container-item > div {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.container-item > span {
    font-size: 18px;
    color: #98989A;
}

.okok {
    color: #FFD11A;
}

/* ================= BOTTOM ================= */
.container-bottom{
    display: flex;
    gap: 80px;
    padding-right: 162px;
    padding-left: 162px;
    border-top: 1px solid #262626;
    justify-content: space-between;
}

.container-bottom--item{
    width: 425px;
    max-width: 425px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.container-item2{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.icon1{
    background-image: url("container/Icon(1).svg");
}

.icon2{
    background-image: url("container/Icon(2).svg");
}

.icon3{
    background-image: url("container/Icon(3).svg");
}

.container-item--title{
    display: flex;
    justify-content: space-between;
}

.container-item--title div:first-child > span:first-child{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    display: inline-block;
}

.container-item--title div:first-child > span:last-child{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #7E7E81;
    display: block;
}

.container-item--title button{
    width: 52px;
    height: 52px;
    gap: 10px;
    border-radius: 100px;
    padding: 14px;
    background-color: #FFD11A;
    border: none;
    background-image: url("container/arrow_black.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container-bottom--item div:last-child{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    margin-top: 30px;
}

.container-bottom--item:nth-child(2)::before{
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #262626;
}

.container-bottom--item:nth-child(2)::after{
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #262626;
}

@media screen and (max-width: 1440px){
    .container-top-right > div:nth-child(2) {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 150px;
    }
    .container-top {
        padding-right: 80px;
    }
    .container-top-left {
        padding-top: 100px;
    }
    .container-top-right button a{
        font-size: 16px;
    }
    .container-top-left-title span {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .container-top-left-title h1 {
        font-size: 55px;
        margin-bottom: 14px;
    }
    .container-top-left-title p {
        font-size: 14px;
    }
    .container-item > div {
        font-size: 30px;
    }
    .container-item > span {
        font-size: 14px;
    }
    .container-top-right > div:nth-child(3) div {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .container-top-right > div:nth-child(3) span {
         font-size: 16px;
        margin-bottom: 20px;
     }
    .container-top-right button {
        padding: 14px 20px;
        border-radius: 8px;
    }
    .container-item--title div:first-child > span:first-child {
        font-size: 18px;
    }
    .container-item--title div:first-child > span:last-child {
        font-size: 16px;
    }
    .container-bottom--item div:last-child {
        margin-top: 20px;
        font-size: 16px;
    }
    .container-top-left-title {
        padding-right: 40px;
        padding-left: 80px;
        padding-bottom: 100px;
    }
    .container-top-right {
        padding-top: 150px;
        padding-bottom: 50px;
        padding-left: 50px;


    }
    .container-top-left-item > .container-item:nth-child(1) {
        margin-left: 24px;
    }
    .container-bottom {
        padding-right: 80px;
        padding-left: 80px;
        border-top: 1px solid #262626;
        justify-content: space-between;
    }
    .container-bottom--item {
        width: 425px;
        max-width: 425px;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
    }
    .container-item2 {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        background-size: cover;
    }
    .container-item--title button {
        width: 44px;
        height: 44px;
    }
}
/* ===============================
   MOBILE 390px
================================ */
@media screen and (max-width: 767px) {
    /* TOP */
    .container-top {
        flex-direction: column;
        padding: 0;
    }
    .container-top-left-title {
        padding:  0 16px 0 16px;
    }

    .container-top-left-title span {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -3%;
        margin-bottom: 14px;
    }

    .container-top-left-title h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        letter-spacing: -3%;
    }
    .container-top-left-title p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -3%;
        margin-bottom: 30px;
    }

    /* STAT BOX */
    .container-top-left-item > .container-item:nth-child(1) {
        margin-left: 16px;

    }
    .container-top-left-item {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .container-top-left {
        width: 100%;
        padding-top: 40px;
    }
    .container-item {
        flex: 1;
        padding: 20px 5px 20px 5px;
        border-right: 1px solid #262626;
    }
    .container-item div {
        font-weight: 600;
        font-size: 24px;
    }
    .okok{
        font-size: 24px;
    }
    .container-item span {
        font-weight: 400;
        font-size: 14px;
    }
    /* RIGHT CARD */
    .container-top-right {
        width: 100%;
        gap: 20px;
        padding: 0 40px 40px 40px;

    }
    .container-top-right > div:nth-child(2) {
        margin-top: 100px;
    }
    .container-top-right::before {
        content: "";
        background-image: url("container/bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        height: 60%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container-bottom {
        gap: 0;
    }

    .container-top-right-icon {
        display: flex;
        margin-bottom: 12px;
    }

    .container-top-right-icon div {
        width: 40px;
        height: 40px;
    }

    .container-top-right > div:nth-child(3) div {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 4px;
    }

    .container-top-right > div:nth-child(3) span {
        font-weight: 400;
        font-size: 14px;
    }

    .container-top-right button {
        gap: 4px;
        width: 100%;
        padding: 14px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-top-right button a {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 100%;
        text-align: center;
    }
    /* BOTTOM LIST */
    .container-bottom {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 16px 0 16px;
    }

    .container-bottom--item {
        width: 100%;
        max-width: 100%;
        padding: 30px 0;
        position: relative;
    }

    .container-bottom > .container-bottom--item:first-child,
    .container-bottom > .container-bottom--item:nth-child(2)
    {
        border-bottom: 1px solid #262626;
    }
    .container-item2 {
        width: 30px;
        height: 30px;
        margin-bottom: 16px;
        background-size: cover;
    }
    .container-item--title div:first-child > span:first-child {
        font-size: 16px;
    }
    .container-item--title div:first-child > span:last-child {
        font-size: 14px;
    }
    .container-bottom--item > div:last-child {
        font-size: 14px;
        margin-top: 10px;
    }
    .container-item--title button {
        width: 40px;
        height: 40px;
    }
}
