* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nen {
    background-image: url(img/Background.jpeg);
    border-radius: 1rem;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
}

.header {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    border-radius: 1rem;
    padding: 2.5rem;
}

h1 {
    font-size: 6.4rem;
    color: #1e293b;
    font-weight: 700;
}

h2 {
    font-size: 6.4rem;
    color: #c084fc;
    font-weight: 700;
}

.mota {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #334155;
    margin-bottom: 5rem;
}
.mota_2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #334155;
    margin-bottom: 5rem;
}
#nutchinh {
    margin: 3rem;
    padding: 2rem;
    border-radius: 5rem;
    background-color: #a855f7;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

#nutchinh:hover {
    background-color: #9333ea;
}

#img_logo {
    margin-top: 7rem;
    margin-bottom: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 0.5rem solid rgba(192, 132, 252, 0.6);
    overflow: hidden;
}

span{
    color: #6b21a8;
}

#toggle-highlight:checked ~ .loikhuyen {
    background-color: rgba(192, 132, 252, 0.35);
    color: #6b21a8;
}

.loikhuyen {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    color: #334155;
}

.loikhuyen_header {
    font-size: 2.2rem;
    font-weight: 700;
}

.ndloikhuyen {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #334155;
    margin: 1rem;
}

.tinhnang {
    font-size: 1.6rem;
    font-weight: 600;
    color: #334155;
    margin: 1rem;
    align-content: center;
}

.icon_check {
    width: 1.1rem;
    height: 1.1rem;
}

#footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem;
    border-top: 0.15rem solid ;
    border-color: rgba(192, 132, 252, 0.6);
    background-color: rgba(255, 255, 255, 0.35);
}
