* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgba(245, 222, 179, 0.22);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.33);
    display: block;
    text-align: center;
}
.header-bar img{
    border-radius: 0.5rem;
    margin-top: 1rem;
}

nav{
    display: inline-block;
    position: relative;
    top: -0.7rem;
}
ul{
    list-style: none;
}
li a, .dropbtn_01 , .dropbtn_02{
    display: inline-block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*Menu cap 1*/
li a:hover, .dropdown_01:hover .dropbtn_01, .dropdown_02:hover .dropbtn_02{
    color:#d62828;
    background-color: #f5f5f5;
}
li.dropdown_01{
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#ffffff;
    border: 0.1rem solid #dddddd;
}

.dropdown-content a {
    color: black;
    padding: 0.875rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 11rem;
}
.dropdown-content a:hover {
    background-color: #f5f5f5;
    color: #d62828;
}
.dropdown_01:hover .dropdown-content {
    display: block;
}

/*===========================cap 2========================*/
li.dropdown_02{
    display: inline-block;
    position: relative;
}
.dropdown_02-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 0.1rem solid #dddddd;
    top: 0;
    right: -11.1rem;
}

.dropdown_02-content a {
    color: black;
    padding: 0.875rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown_02:hover .dropdown_02-content {
    display: block;
}
/*==================================*/
.arrow_down, .arrow_to{
    display: inline-block;
    color: #555555;
}
.arrow_down {
    position: relative;
    top: 0;
    right: 0.5rem;
}
.arrow_to{
    position: absolute;
    top: 0.8rem;
    right: 0.4rem;
}