/* ===== BENEFITS MAIN ===== */
.benefits-main{
    max-width: 1600px;
    margin: 150px auto 0;
    padding: 0 16px;
}

/* ===== TITLE ===== */
.benefits-main-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 80px;
}

.benefits-main-title2{
    max-width: 1100px;
}

.benefits-main-title2 h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    color: #262626;
    margin-bottom: 8px;
}

.benefits-main-title2 span{
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}

.benefits-main-title3 button{
    height: 63px;
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    background: #FCFCFD;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* ===== GRID ===== */
.benefits{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* ===== CARD ===== */
.benefit-item{
    position: relative;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 40px;
    min-height: 420px;
}

/* number */
.benefit-number{
    font-size: 80px;
    font-weight: 700;
    text-align: right;
    color: #262626;
}

/* title */
.benefit-title{
    font-size: 24px;
    font-weight: 600;
    margin: 32px 0 14px;
}

/* desc */
.benefit-description{
    font-size: 18px;
    line-height: 150%;
    color: #4C4C4D;
}

/* icon */
.benefit-icon{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 74px;
    height: 74px;
    background: url("../images/benefits_icon.svg") no-repeat center;
    background-size: 28px;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
}
@media screen and (max-width: 390px){
    .benefits-main{
        margin-top: 60px;
    }
    /* title */
    .benefits-main-title{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 32px;
    }

    .benefits-main-title2 h2{
        font-size: 28px;
        line-height: 140%;
    }

    .benefits-main-title2 span{
        font-size: 14px;
        line-height: 140%;
    }

    .benefits-main-title3 button{
        width: 100%;
        height: 48px;
        font-size: 14px;
        padding: 12px;
    }
    .benefits {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    .benefit-item{
        width: 100%;
    }

    .benefit-number{
        font-size: 48px;
    }

    .benefit-title{
        font-size: 18px;
        margin-top: 20px;
    }

    .benefit-description{
        font-size: 14px;
        line-height: 140%;
    }

    .benefit-icon{
        position: static;
        margin-top: 16px;
        width: 48px;
        height: 48px;
        background-size: 20px;
    }
}
