.benefits-main{
    width: 1597px;
    height: 1142px;
    gap: 80px;
    margin-top: 150px;
    position: relative;
}
.benefits-main-title{
    display: flex;
    width: 1597px;
    height: 132px;
    gap: 300px;
    margin-bottom: 80px;
}
.benefits-main-title2 h2{
    width: 1177px;
    height: 72px;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #262626;
    margin-bottom: 6px;
}
.benefits-main-title2 span{
    width: 1177px;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}
.benefits-main-title3{
    display: flex;
    width: 1597px;
}
.benefits-main-title3 button {
    position: absolute;
    top: 64px;
    left: 1477px;
    width: 120px;
    height: 63px;
    gap: 8px;
    border-radius: 8px;
    padding: 18px 24px;
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #262626;

}

/*========================================*/
.container_bf1, .container_bf2 {
    width: 1597px;
    height: 437px;
    max-width: 1600px;
    margin-bottom: 20px;
}

.benefits {
    display: flex;
    gap: 20px;
}

.benefit-item {
    position: relative;
    width: 519px;
    height: 437px;
    gap: 50px;
    border-radius: 12px;
    padding: 50px;
    flex-shrink: 1;
    background-color: white;
}

.benefit-number {
    width: 419px;
    height: 59px;
    font-weight: 700;
    font-size: 80px;
    line-height: 24px;
    text-align: right;
    justify-content: end;
}

.benefit-title {
    font-weight: 600;
    font-size: 24px;
    margin: 50px 0 14px 0;
}

.benefit-description {
    font-size: 18px;
    color: #4c4c4d;
}
.benefit-icon{
    background-image: url("../images/benefits_icon.svg");
    width: 74px;
    height: 74px;
    gap: 8px;
    border-radius: 8px;
    border-width: 1px;
    position: absolute;
    padding: 20px;
    top: 313px;
    left: 395px;
    right: 50px;
    bottom: 50px;

}