.container2{
    background-image: url("../images/container2/container2.png");
    width: 100%;
    height: 790px;
    border-radius: 12px;
    border-width: 16px;
    padding: 100px;
    gap: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 150px;
}
.container2-content{
    width: 74px;
    height: 74px;
    border-radius: 68px;
    padding: 10px;
    gap: 10px;
    z-index: 1;
    background-color: #FFFFFF33;
    border: 6px solid #FFFFFF4D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2--content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../icons/container2_icon.svg");
    width: 44px;
    height: 44px;
    z-index: 2;
}
@media screen and (max-width: 390px) {

    .container2{
        width: 100%;
        height: 220px;

        padding: 0;
        margin-top: 40px;
        margin-bottom: 60px;

        border-radius: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-position: center;
        background-size: cover;
    }

    .container2-content{
        width: 48px;
        height: 48px;

        padding: 6px;
        border-radius: 50%;

        border: 4px solid #FFFFFF4D;
        background-color: #FFFFFF33;
    }

    .container2--content{
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
