header {
    margin: 20px 30px 100px 30px;
    border-bottom: #F1F1F3 solid 1px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
    border-radius: 8px;
}

#header-top {
    background-color: #FF9500;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-top img {
    margin-left: 23px;
}


#header--logo {
    background-image: url("../images/logo.svg");
    background-color: #FF9500;
    height: 54px;
    width: 54px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

#header-bottom {
    width: 100%;
    max-width: 1860px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#header-bottom div:first-child {
    display: flex;
    align-items: center;
    margin-left: 132px;
}

#header-bottom nav {
    margin-left: 50px;
}

#header-bottom ul {
    display: flex;
}

#header-bottom ul li {
    list-style: none;
    padding: 14px 24px;
}
#header--action {
    display: flex;
    justify-content: space-between;
    width: 214px;
    height: 55px;
    gap: 30px;
    margin-right: 132px;
}
#header--action span{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
#header--action button:first-of-type{
    width: 117px;
    height: 55px;
    gap: 8px;
    border-radius: 8px;
    padding: 14px 34px 14px 34px;
    background-color: #FF9500;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
}
#header--action--media{
    background-image: url("../icons/header-media.svg");
    width: 34px;
    height: 34px;
    margin-right: 0;
    display: none;
}
@media screen and (max-width: 390px) {
    #header-bottom  > div > nav{
        display: none;
    }
    header {
        border-bottom: #F1F1F3 solid 1px;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 99;
        border-radius: 8px;
        margin: 0;
    }

    #header-top {
        background-color: #FF9500;
        height: 41px;
        border-radius: 8px;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 12px;
    }

    #header-top img {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }
    #header--logo {
        background-image: url("../images/logo.svg");
        background-color: #FF9500;
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
    }
    #header-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 358px;
        align-items: center;
        padding: 16px 0;
    }

    #header-bottom div:first-child {
        display: flex;
        align-items: center;
        margin-left: 0;
    }

    #header--action {
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    #header--action span{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-right: 0;
    }
    #header--action button:first-of-type{
        width: 78px;
        height: 45px;
        gap: 8px;
        border-radius: 8px;
        padding: 12px 20px ;
        background-color: #FF9500;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        border: none;
        margin-left: 0;
        margin-right: 0;
    }
    #header--action--media{
        display: inline-block;
    }
}