.social-mobile{
    display: none;
}
.footer {
    padding-right: 162px;
    padding-left: 162px;
}

.footer-container {
    display: flex;
    gap: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #262626;
    justify-content: space-between;
}

.footer-column h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.footer-column ul {
    list-style: none;
}

.footer-column li {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #666666;
    cursor: pointer;
    margin-bottom: 16px;
    white-space: nowrap;
}

.footer-column li:hover {
    color: #fff;
}

.badge {
    padding: 4px 12px;
    border-radius: 6px;
    background: #1A1A1A;
    border-image-source: linear-gradient(70.33deg, #262626 61.2%, #FFD119 216.15%);
    margin-left: 6px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;

}
.resource-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resource-links > li {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #141414;
    border: 1px solid #262626;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    gap: 10px;
    display: flex;
    text-align: center;
    align-items: center;

}
.arrow-yellow_footer{
    background-image: url("footer/arrow.svg") ;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.footer-bottom {
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.footer-bottom .links a , .copyright{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #666666;
    text-decoration: none;
    margin-left: 11px;
}

.footer-bottom .links a:hover {
    color: #fff;
}

.social{
    align-items: center;
    text-align: center;
}
.fab{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-position: center;
}
.fa-twitter{
    background-image: url("footer/twitter.svg");
}
.fa-medium{
    background-image: url("footer/medium.svg");
}
.fa-linkedin{
    background-image: url("footer/linkedin.svg");
}
.social i:hover {
    color: #fff;
}
.conclusion-top-mobile{
     display: none;
 }
.footer-mobile{
    display: none;
}
@media screen and (max-width: 1440px){
    .footer {
        padding-right: 80px;
        padding-left: 80px;
    }
    .footer-container {
        gap: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-column h4 {
        font-size: 18px;
        margin-bottom: 28px;
    }
    .footer-column li {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .badge {
        gap: 10px;
        padding: 2px 10px;
        border-radius: 4px;
        font-size: 12px;
    }
    .resource-links > li {
        gap: 4px;
        padding: 8px 14px;
        border-radius: 6px;
        border-width: 1px;
        font-size: 14px;
    }
    .arrow-yellow_footer {
        width: 18px;
        height: 18px;
        background-size: cover;
    }
    .footer-bottom {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .footer-bottom .links a, .copyright {
        font-size: 14px;
        margin-left: 8px;
    }
    .fab {
        width: 20px;
        height: 20px;
        margin-left: 14px;
        background-size: cover;
    }
}
@media screen and (max-width: 767px) {

    .footer {
        padding: 0 16px;
    }

    /* ================= TOP ================= */
    .footer-container {
        display: none;
    }

    .footer-mobile {
        display: block;
        padding: 40px 0;
        border-bottom: 1px solid #262626;
    }

    .footer-mobile > div {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 24px;
    }

    .footer-mobile > div:last-child {
        display: block;
        margin-bottom: 0;
    }

    .footer-column {
        width: 100%;
    }

    .footer-column h4 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .footer-column li {
        font-size: 14px;
        margin-bottom: 8px;
        white-space: nowrap;
    }
    .badge {
        font-size: 12px;
        padding: 2px 8px;
        border-radius: 4px;
    }

    .resource-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
    .resource-links > li {
        padding: 8px 14px;
        font-size: 14px;
        justify-content: space-between;
    }
    .arrow-yellow_footer {
        width: 16px;
        height: 16px;
    }


    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 24px 0;
        text-align: center;
    }
    .footer-bottom .links {
        display: flex;
        gap: 16px;
    }
    .footer-bottom .links a {
        font-size: 14px;
        margin: 0;
    }
    .social {
        display: none;
    }
    .social-mobile {
        display: flex;
        gap: 24px;
    }
    .fab {
        width: 20px;
        height: 20px;
    }
    .copyright {
        font-size: 12px;
        color: #666666;
    }
    .social-mobile{
        display: block;
    }
}

