.container2{
    background-image: url("../images/container2/container2.png");
    width: 1596px;
    height: 790px;
    border-radius: 12px;
    border-width: 16px;
    padding: 100px;
    gap: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 150px;
}
.container2-content{
    width: 74px;
    height: 74px;
    border-radius: 68px;
    padding: 10px;
    gap: 10px;
    z-index: 1;
    background-color: #FFFFFF33;
    border: 6px solid #FFFFFF4D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2--content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../icons/container2_icon.svg");
    width: 44px;
    height: 44px;
    z-index: 2;
}