.courses-section{
        width: 1597px;
        height: 2693px;
        gap: 80px;
        margin-top: 100px;
        position: relative;
}
.courses-main-title{
    display: flex;
    width: 1597px;
    height: 132px;
    gap: 300px;
    margin-bottom: 80px;
}
.courses-main-title2 h2{
    width: 1177px;
    height: 72px;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #262626;
    margin-bottom: 6px;
}
.courses-main-title2 span{
    width: 1177px;
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}
.courses-main-title3 {
    display: flex;
    width: 1597px;
}
.courses-main-title3 button {
    position: absolute;
    top: 64px;
    left: 1477px;
    width: 120px;
    height: 63px;
    gap: 8px;
    border-radius: 8px;
    padding: 18px 24px;
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #262626;
}
/*===========================================*/
.courses-section-content1{
    display: flex;
    width: 1597px;
    height: 807px;
    gap: 30px;
}
.courses-item{
    width: 784px;
    height: 807px;
    justify-content: space-between;
    border-radius: 12px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #F1F1F3
}
.courses-item1{
    width: 684px;
    height: 614px;
    margin-bottom: 30px;
}
.courses-item1-image{
    width: 684px;
    height: 380px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.courses-item1-title{
    width: 684px;
    height: 204px;
}
.courses-item1-title2{
    display: flex;
    justify-content: space-between;
    width: 684px;
    height: 43px;
    margin-bottom: 30px;
}
.courses-item1-title3{
    display: flex;
    width: auto;
    margin-left: 0;
    height: 43px;
    gap: 10px;
}
.courses-item1-title3 span:first-child{
    width: auto;
    height: 43px;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #F1F1F3;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #4C4C4D;
    margin-right: 0;
}
.courses-item1-title3 span:last-child{
    width: auto;
    height: 43px;
    gap: 10px;
    border-radius: 8px;
    padding: 10px 16px;
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #4C4C4D;

}
.courses-item1-title2 div:last-child{
    display: flex;
    justify-content: end;
    margin-right: 0;
}
.courses-item1-title2 div:last-child span{
    width: auto;
    height: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #262626;
}
.courses-item1-title > span{
    width: 684px;
    height: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #262626;
    margin-bottom: 14px;
}
.courses-item1-title p{
    width: 683px;
    height: 81px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4C4C4D;
}
.courses-item2 button{
    width: 683px;
    height: 63px;
    gap: 8px;
    border-radius: 8px;
    padding: 18px 24px;
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #262626;
}
.image-courses-id1{
    background-image: url("../images/courses/img1.svg");
}
.image-courses-id2{
    background-image: url("../images/courses/img2.svg");
}
.image-courses-id3{
    background-image: url("../images/courses/img3.svg");
}
.image-courses-id4{
    background-image: url("../images/courses/img4.svg");
}
.image-courses-id5{
    background-image: url("../images/courses/img5.svg");
}
.image-courses-id6{
    background-image: url("../images/courses/img6.svg");
}
.courses-section-content1:nth-child(2){
    margin-top: 30px;
    margin-bottom: 30px;
}
