
.hero_section{
    max-width: 965px;
    height: 337px;
    margin-top: 250px;
    padding-bottom: 100px;
}
.hero_section-top{
    max-width: 965px;
    height: 214px;
    gap: 20px;
}
.hero_section-top2{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.hero_section-top2 > img:first-of-type{
    position: absolute;
    top: -28px;
    left: 28px;
}
#hero_section-title-icon{
    background-image: url("../images/container.svg");
    width: 62px;
    height: 62px;
    gap: 5px;
    border-radius: 6px;
    background-position: center;
    background-color: #FF9500;
}
.hero_section-title{
    display: flex;
    max-width: 854px;
    height: 100px;
    gap: 5px;
    border-radius: 11px;
    border: 1px solid #F1F1F3;
    padding: 14px 30px 14px 20px;
    align-items: center;
    background-color: #FCFCFD;
    justify-content: center;
    margin: 0 55px 20px 55px;
}

.hero_section-title h1{
    /*font-family: Be Vietnam Pro;*/
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #1A1A1A;
}
.hero_section-bottom2 > span:first-of-type{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
}
.hero_section-bottom2 > span:last-of-type{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}
h1 span{
    color: #FF9500;
}
.hero_section-bottom{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 965px;
    height: 123px;
    gap: 12px;
}
.hero_section-bottom > button:first-of-type{
    background-color: #FF9500;
    color: #FFFFFF;
    width: 195px;
    height: 63px;
    /*font-family: Be Vietnam Pro;*/
    font-weight: 600;
    /*font-style: SemiBold;*/
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    gap: 8px;
    border-radius: 8px;
    padding: 18px 24px 18px 24px;
    border: none;
    margin: 0;
}
.hero_section-bottom > button:last-of-type{
    width: 159px;
    height: 63px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    padding: 18px 24px 18px 24px;
    background-color: #F1F1F3;
    /*font-family: Be Vietnam Pro;*/
    font-weight: 500;
    /*font-style: Medium;*/
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #262626;
    margin: 0;
}